.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;
    box-sizing: border-box;

    @media screen and (min-width: 768px){
        padding: 0 24px;
    }

    @media screen and (min-width: 1200px){
        padding: 0 32px;
    }
}
